/* RESPONSIVE LAPTOP */
@media screen and (max-width: 1904px) {
    .container {
        width: 100%;
    }
}


/* RESPONSIVE TABLET */
@media screen and (max-width: 769px) {
    .container {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }

    h1 {
        width: 90%;
    }

    .text-center {
        width: 100%;
    }
}


/* RESPONSIVE SMARTPHONE */
@media screen and (max-width: 376px) {
    h1 {
        font-size: 2.3rem;
    }

    .row {
        flex-direction: column;
    }

    .lessons .col {
        width: 100%;
        margin: 2rem 0;
    }

    .steps {
        margin: 3rem 0 0 0;
    }

    .steps .col {
        margin: 2rem 0;
        width: 100%;
    }

    .why-us {
        background-color: #222222;
        margin-bottom: 0;
    }

    .why-us .col {
        width: 100%;
        margin: 2rem 0;
    }

    .why-us h2 {
        padding-top: 2rem;
    }
}
